.button {
	font-weight: 500;

	> a {
		color: inherit;
		text-decoration: none;

		&:hover {
			color: inherit;
			text-decoration: none;
		}
	}
}

a.no-deco-link {
	color: inherit;
	text-decoration: none;

	&:hover {
		color: inherit;
		text-decoration: none;
	}
}

.form-button {
	width: 100%;
	height: 3.5rem;
}
