<%- include('../partials/header') %>
<div class="ui container">
	<div class="ui form jn-form">
		<p class="jn-form_header">Write down your magic spell!</p>
		<form action="/journals/write" method="post">
			<div class="field">
				<label for="title">Title</label>
				<input
					type="text"
					name="title"
					id="title"
					placeholder="Nothing you write here will beat 'Avada Kedavra'"
				/>
			</div>

			<div class="field">
				<label for="prologue">Prologue</label>
				<textarea
					class="jn-form_prologue"
					name="prologue"
					id="prologue"
					cols="5"
					placeholder="This is what will be displayed in the cards keep it small will ya"
				></textarea>
			</div>

			<div class="field">
				<label for="body">Body</label>
				<textarea
					name="body"
					id="body"
					placeholder="Place where you write your spell"
				></textarea>
			</div>

			<button class="ui positive button" type="submit">Cast Away!</button>
		</form>
	</div>
</div>

<%- include('../partials/footer') %>
