<form action="/journals/<%=journal._id%>/comments/write" method="post">
	<label for="text">Commenting on <%=journal.title %></label>
	<input type="text" name="text" id="text" />

	<button type="submit">Comment</button>
</form>
