<%- include('partials/header') %>

<div class="hp-banner">
	<div class="hp-banner_title">
		<p>Project X | Write Today.</p>
		<a href="#hp-body"
			><i class="chevron down icon hp-banner_subtitle"></i
		></a>
	</div>
</div>

<div id="hp-body" class="hp-body">
	<h3>hello Wordl</h3>
</div>
<%- include('partials/smooth-scroll') %> <%- include('partials/footer') %>
