<%- include('partials/header') %>

<div class="hp">
	<div class="hp-banner">
		<div class="hp-banner-div">
			<p class="hp-banner-div_title">
				Fondness - over - writing
			</p>
			<span class="hp-banner-div_subtitle">start today</span>
			<br />
			<a class="reset_btn" href="#hp-body">
				<i class="chevron down icon hp-banner-div_arrow"></i>
			</a>
		</div>
	</div>

	<div id="hp-body" class="ui container hp-body">
		<div class="hp-body_intro">
			<div class="hp-body_intro_photo">
				<img
					src="https://source.unsplash.com/1600x900/?books"
					alt="photo"
					width="600"
					height="300"
				/>
			</div>
			<div class="hp-body_intro_text">
				<p class="hp-body_intro_text_title">What is FOW?</p>
				<p class="hp-body_intro_text_subtitle">
					In short this is ig for writers, atleast that is what i had
					kept in mind while making this. Well, there are many changes
					to be made henceforth, many updates to be updated. But, i
					guess it is in a stage now where it is ready to be published
					so here it is. <br />
					<br />Made by Love <3
				</p>
				<a href="/journals">
					<button
						class="ui right labeled icon button hp-body_intro_text_button"
					>
						<i class="right arrow icon"></i>
						Peruse
					</button></a
				>
			</div>
		</div>
	</div>
</div>

<%- include('partials/smooth-scroll') %> <%- include('partials/footer') %>
