.hp-banner {
  background-color: #34495e;
  width: 100%;
  height: 100vh; }
  .hp-banner_title {
    width: 25rem;
    font-size: 3rem;
    color: white;
    margin: 0 auto;
    padding-top: 18rem;
    text-align: center; }
