/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Bad+Script&family=Dancing+Script:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: white; }
  a:hover {
    color: white; }

body {
  font-family: 'Roboto', sans-serif; }

.hp-banner {
  background-color: #2d3436;
  width: 100%;
  height: 100vh; }
  .hp-banner-div {
    width: 50em;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding-top: 12em; }
    .hp-banner-div_title {
      font-size: 3em;
      font-weight: 100; }
    .hp-banner-div_subtitle {
      margin-top: 2em;
      font-size: 3em;
      font-family: 'Dancing Script', cursive;
      font-weight: 200; }
    .hp-banner-div_arrow {
      padding-top: 1em; }

.hp-body {
  margin-top: 12em;
  height: 80vh; }
  .hp-body_intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    align-items: center; }
    .hp-body_intro_photo > img {
      object-fit: cover; }
    .hp-body_intro_text_title {
      font-family: 'Bad Script', cursive;
      font-size: 3em; }
    .hp-body_intro_text_button {
      margin-top: 3em !important; }

.ji-banner {
  background-color: #2d3436;
  width: 100%;
  height: 80vh; }
  .ji-banner-div {
    width: 50em;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding-top: 12em; }
    .ji-banner-div_title {
      font-size: 3em;
      font-weight: 100; }

.ji-body {
  margin-top: 5em; }
  .ji-body_button {
    margin-bottom: 3em; }
  .ji-body-card {
    margin-top: 3em !important; }
    .ji-body-card_title {
      font-family: 'Dancing Script', cursive;
      color: #4e4e50;
      font-size: 2em;
      font-weight: 100; }
