.login-form {
	margin: 0 auto;
	width: 50%;

	@include atSmall {
		margin: 10 auto !important;
		width: 100%;
	}

	&_register {
		color: #4183c4;
	}
}

a:hover {
	color: #2e5b88 !important;
}

.login-form_flash {
	margin: 3em auto;
	width: 50% !important;
}
