.home {
	margin-top: $small;

	&-body {
		&_title {
			font-weight: 300;
			font-style: italic;
			text-align: center;
			font-size: 3rem;
		}
	}

	&-no-body {
		margin-top: $big;
		&_title {
			font-size: 2rem;
			text-align: center;
			font-weight: 400;
		}

		&_subtitle {
			width: 80%;
			margin: 0 auto;
			font-size: 1.5rem;
		}
	}
}
